.form-control {
    display: block;
    width: 100%;
    height: 42px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.blue{
    color: rgb(40,199,251);
}
.cetri_koraka{
       height: 200px;
    display: block;
    margin: auto;
    padding-bottom:20px;
}
/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}
/* indicator color */
#quote-carousel .carousel-indicators li {
  background: #c0c0c0;
}
/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: #333333;
  height:10px;
  width:10px;
  margin-bottom:1px;
}
.noUi-value{
    padding-top: 5px;
}
.btn-xl {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 7px 68px;
}
.noUi-connect {
    background: #76C9FB;
}

.padding-slider {
    padding-top: 40px;
}
.slider-text{
        padding-bottom: 35px;
    margin-top: -60px;
    font-family: inherit;
    font-size: x-large;
    font-weight: 600;
    color: #A7ABB3;
}
.carousel-control {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15%;
    font-size: 20px;
    color: #464646;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    background-color: rgba(0,0,0,0);
    filter: alpha(opacity=50);
    opacity: .5;
}
.rc{
    right: 0;
    left: auto;
}
.padding-carousel {
    padding: 15px;
}
.table-img{
    height:  80px;
}
.scrolloff {
        pointer-events: none;
}
.img-featured-dentist{
    height: 250px!important;
    margin: auto;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 15px 12px 15px 8px;
    line-height: 1.42857143;
    vertical-align: middle;
    border-top: 1px solid #ddd;
}
/* Min-Width 768PX */

@media (min-width: 768px){
.navbar-default {
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    margin-right: 10px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    margin-left: 20px;
}
}